<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <pre>
        [문제]
            철수는 시험에서 17점을 받았다. 합격인가 불합격인지 구하시오.

        [합격조건] 
            60점이상
       
    </pre>

    <%
        const score = 17;
        let msg = (score >= 60) ? '합격' : '불합격';
    %>
    <p><%=msg%></p>
    <a href="0101A">정답확인</a>
</body>
</html>