<ul class="nav1">
    <li><a href="/#"><span class="navtext">전체회원</span></a></li>
    <li><a href="/#"><span class="navtext">회원등록</span></a></li>
    <li><a href="/#"><span class="navtext">회원랜덤추가</span></li></a>
</ul>

<ul class="nav2">
    <li><a href="#"><span class="navtext">구구단</span></a></li>
    <li><a href="#"><span class="navtext">베스킨라빈스31</span></li></a>
    <li><a href="#"><span class="navtext">연산자게임</span></li></a>
</ul>

<ul class="nav3">
    <li><a href="#"><span class="navtext">틱택토</span></a></li>
    <li><a href="#"><span class="navtext">1to50</span></a></li>
    <li><a href="#"><span class="navtext">숫자이동</span></a></li>
</ul>