<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
		[문제]
			1. 점수2개를 입력받아 평균을 구한다.
			2. 평균이  60점 이상이면 합격, 60점 미만이면 불합격이다.
			3. 조건1)  입력받은 정수가 
			   음수이거나 100점을 초과하면, 예외 메세지를 출력한다.
			   예) 점수를  잘못 입력했습니다.
			4. 조건2) 평균이 60 이상이라도 , 한과목이라도 50미만이면 불합격을 출력한다.

	-->

    <%
        const s1 = Number(score1);
        const s2 = Number(score2);
        
        const avg = (s1 + s2) / 2;

        let msg = '';
        let res = '';

        if (avg >= 60 && s1 > 50 && s2 > 50) {
            res = '합격';
        } else {
            res = '불합격';
        }

        if (
            !(0 <= s1 && s1 <= 100) ||
            !(0 <= s2 && s2 <= 100)
        ) {
            msg = '점수를 잘못입력했습니다.';
            res = '불합격';
        }

    %>
    <p>점수1: <%=s1%>, 점수2: <%=s2%></p>
    <p><%=msg%></p>
    <p><%=res%></p>
    <a href="0100">돌아가기</a>
</body>
</html>