<header>
    <h1>전체목록 확인하기</h1>
    <div>
        <button onclick="location.href='addScore'">랜덤 점수 추가</button>
        <button onclick="location.href='passList'">합격학생 출력</button>
        <button onclick="location.href='deleteAll'">전체삭제</button>
    </div>
</header>