<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <table border="1" style="margin-bottom:20px;">
         
            <tr align="center">
                <td colspan="3" ><h3>배열연습</h3></td>
            </tr>
            <tr>   
                <td><a href="0301P">배열1</a></td>
                <td><a href="0302P">배열2</a></td>
                <td><a href="0303P">배열3</a></td>
            </tr>

          
        </table>
        <a href="main">메인으로 돌아가기</a>

    </div>

</body>
</html>