<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span {margin-right: 20px;}
        li {list-style: none;}
    </style>
</head>
<body>
  <div align="center">
        <h1>전체목록 확인하기</h1>
        <div class="header_btns">
            <button onclick="location.href='addRandomValue'">랜덤으로 값 추가하기</button>
            <a href="0102">합격학생만 출력하기</a>
            <button onclick="location.href='delAll'">전체삭제</button>
        </div>
        <div id="main">
            <ul>
                <% let id = 1 %>
                <% for (const score of scoreDB) { %>
                <li>
                  <span>번호: <%= id %></span>
                  <span>점수: <%= score %></span>
                  <span><button onclick="location.href='0103?index=<%=id-1%>'">수정하기</button></span>
                  <span><button onclick="location.href='deleteScore?index=<%=id-1%>'">삭제하기</button></span>
                </li>
                <% id++ %>
                <% } %>
            </ul>
        </div>
    </div>
</body>
</html>